<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
	<add key="AutoScanOnStart" value="false"/>
	<add key="BackupPath" value="%ProgramData%\OpenDriverUpdater\DriverBackup"/>
	<add key="Blacklist" value=""/>
  </appSettings>
  <startup>
	<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
</configuration>
